# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
.venv/
ENV/

# Databases
*.db
*.sqlite

# IDEs
.vscode/
.idea/

# OS
.DS_Store

# Temporary files
amg-api-base.yml
amg-api-test.yml
amg-api.conf.tmp
